<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Issue Tracker</title>
</head>
<body>
<div class="container">
    <h1>Issue Tracker</h1>
    <a href="{% url 'admin:index' %}">Admin site</a><br>
    <a href="{% url 'swagger' %}">Swagger</a><br>
</div>
</body>
</html>
